/* Class and id names are case sensitive */
.error {
    color: red;
}

/*a:link { text-decoration: none;color: white}
a:active { text-decoration:blink}
a:hover { text-decoration:underline;color: green}
a:visited { text-decoration: underline;color: white}

section p {
    text-align: center;
    font-size: 30px;
    background-color: #757575;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: antiquewhite;
}



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

nav {
    padding: 0;
    margin-left: 140px;
    background-color: #616161;
}

nav a {
    color: #EDEDED;
    background-color: #616161;
    font-size:30px;
    margin-left: 10px;


}
nav a:hover {
    background-color: #111;

}

nav a:active {
    background-color: #111;

}

article {
    position: relative;
    left: 1px;
    top: 1px;
    width: border-box;
    height: border-box;
}

h2 {
    height: 60px;
    width: border-box;
    visibility: hidden;

}

p {
    position: relative;
    margin-left: 140px;
    margin-top: 10px;
    top: 30px;
    height: 90px;
    width: border-box;
    border: #4CAF50;
    border-style: solid;
    background-color: antiquewhite;
}

button {
    width: 80px;
    height: 40px;
    background: #4CAF50;
    margin: 0px;
    padding: 0px;
    border: none;
    color: white;
    font-size: 16px;

}

input[type="text"]{

    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 40px 40px;
    width: 620px;
    font-size: 12px;
}

section{
    border: #4CAF50;
}
input[type="submit"] {
    width: 80px;
    height: 30px;
    background: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
}
input[type="search"]{
    padding: 10px;
    width: 150px;
    height: 60px
}

main{
    width: border-box;
    height: border-box;
    background-color: antiquewhite;

}

*/